.dontHave {
    color: dimgray;
}

.dontHaveImage {
    opacity: 0.2;
}

.cardImage {
    width: 200px;
}

.cardImage:hover {
    opacity: 0.2;
}

.play-episode-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.play-episode-button:hover {
    opacity: 0.7;
}