.list-films-box {
    border: 1px solid white;
    color: white;
}

.film-box {
    border: 1px solid white;
    float:left;
    margin-top: 10px;
    margin-left: 11px;
    height: 20vh;
}

.film-poster {
    height: 100%
}