.image-text {
    position: absolute;
    bottom: 5px;
}

.block-of-videos {
    padding: 10px;
}

.nextBackButtons {
    text-align: center;
}

.back-button {
    position: absolute;
    left: 25%;
}

.next-button {
    position: absolute;
    right: 25%;
}